--
-- PostgreSQL database dump
--

\restrict QoUY4Uk1zp1euOdRXI4eWc7FUivsEQey8DLRtgG3edj5erGIVee2YEkLtYRw5Xv

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: approval_vouchers; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.approval_vouchers (
    id bigint NOT NULL,
    voucher_no character varying(255) NOT NULL,
    department_id bigint NOT NULL,
    requested_by bigint NOT NULL,
    approved_by bigint,
    module character varying(255) NOT NULL,
    action character varying(255) NOT NULL,
    status character varying(255) DEFAULT 'draft'::character varying NOT NULL,
    target_id bigint,
    before_payload json,
    after_payload json,
    remarks text,
    rejection_reason text,
    submitted_at timestamp(0) without time zone,
    approved_at timestamp(0) without time zone,
    rejected_at timestamp(0) without time zone,
    applied_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT approval_vouchers_action_check CHECK (((action)::text = ANY ((ARRAY['create'::character varying, 'update'::character varying, 'delete'::character varying])::text[]))),
    CONSTRAINT approval_vouchers_module_check CHECK (((module)::text = ANY ((ARRAY['transaction'::character varying, 'budget'::character varying])::text[]))),
    CONSTRAINT approval_vouchers_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'pending_approval'::character varying, 'approved'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.approval_vouchers OWNER TO sail;

--
-- Name: approval_vouchers_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.approval_vouchers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.approval_vouchers_id_seq OWNER TO sail;

--
-- Name: approval_vouchers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.approval_vouchers_id_seq OWNED BY public.approval_vouchers.id;


--
-- Name: budgets; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.budgets (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    category_id bigint NOT NULL,
    month smallint NOT NULL,
    year smallint NOT NULL,
    amount_limit numeric(12,2) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    department_id bigint NOT NULL,
    origin_approval_voucher_id bigint,
    archived_at timestamp(0) without time zone,
    archived_by_approval_voucher_id bigint
);


ALTER TABLE public.budgets OWNER TO sail;

--
-- Name: budgets_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.budgets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.budgets_id_seq OWNER TO sail;

--
-- Name: budgets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.budgets_id_seq OWNED BY public.budgets.id;


--
-- Name: cache; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache OWNER TO sail;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO sail;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT categories_type_check CHECK (((type)::text = ANY ((ARRAY['income'::character varying, 'expense'::character varying])::text[])))
);


ALTER TABLE public.categories OWNER TO sail;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO sail;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.departments (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.departments OWNER TO sail;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.departments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO sail;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO sail;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.failed_jobs_id_seq OWNER TO sail;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO sail;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO sail;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO sail;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO sail;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO sail;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO sail;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO sail;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.transactions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    category_id bigint NOT NULL,
    type character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    amount numeric(12,2) NOT NULL,
    description text,
    transaction_date date NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    department_id bigint NOT NULL,
    voucher_id bigint,
    origin_approval_voucher_id bigint,
    voided_at timestamp(0) without time zone,
    voided_by_approval_voucher_id bigint,
    CONSTRAINT transactions_type_check CHECK (((type)::text = ANY ((ARRAY['income'::character varying, 'expense'::character varying])::text[])))
);


ALTER TABLE public.transactions OWNER TO sail;

--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transactions_id_seq OWNER TO sail;

--
-- Name: transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.transactions_id_seq OWNED BY public.transactions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    two_factor_secret text,
    two_factor_recovery_codes text,
    two_factor_confirmed_at timestamp(0) without time zone,
    role character varying(255) DEFAULT 'staff'::character varying NOT NULL,
    department_id bigint DEFAULT '1'::bigint NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_system_account boolean DEFAULT false NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'staff'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO sail;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO sail;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: voucher_attachments; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.voucher_attachments (
    id bigint NOT NULL,
    voucher_id bigint NOT NULL,
    uploaded_by_user_id bigint,
    stage character varying(255) NOT NULL,
    disk character varying(255) DEFAULT 'local'::character varying NOT NULL,
    path character varying(255) NOT NULL,
    original_name character varying(255) NOT NULL,
    mime_type character varying(255),
    size_bytes bigint DEFAULT '0'::bigint NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.voucher_attachments OWNER TO sail;

--
-- Name: voucher_attachments_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.voucher_attachments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voucher_attachments_id_seq OWNER TO sail;

--
-- Name: voucher_attachments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.voucher_attachments_id_seq OWNED BY public.voucher_attachments.id;


--
-- Name: voucher_items; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.voucher_items (
    id bigint NOT NULL,
    voucher_id bigint NOT NULL,
    category_id bigint NOT NULL,
    description character varying(255) NOT NULL,
    amount numeric(12,2) NOT NULL,
    expense_date date NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.voucher_items OWNER TO sail;

--
-- Name: voucher_items_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.voucher_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voucher_items_id_seq OWNER TO sail;

--
-- Name: voucher_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.voucher_items_id_seq OWNED BY public.voucher_items.id;


--
-- Name: voucher_logs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.voucher_logs (
    id bigint NOT NULL,
    voucher_id bigint NOT NULL,
    user_id bigint,
    action character varying(255) NOT NULL,
    from_status character varying(255),
    to_status character varying(255),
    description text,
    metadata json,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT voucher_logs_from_status_check CHECK (((from_status)::text = ANY ((ARRAY['draft'::character varying, 'pending_approval'::character varying, 'approved'::character varying, 'rejected'::character varying, 'released'::character varying, 'liquidation_submitted'::character varying, 'liquidated'::character varying])::text[]))),
    CONSTRAINT voucher_logs_to_status_check CHECK (((to_status)::text = ANY ((ARRAY['draft'::character varying, 'pending_approval'::character varying, 'approved'::character varying, 'rejected'::character varying, 'released'::character varying, 'liquidation_submitted'::character varying, 'liquidated'::character varying])::text[])))
);


ALTER TABLE public.voucher_logs OWNER TO sail;

--
-- Name: voucher_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.voucher_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voucher_logs_id_seq OWNER TO sail;

--
-- Name: voucher_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.voucher_logs_id_seq OWNED BY public.voucher_logs.id;


--
-- Name: vouchers; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.vouchers (
    id bigint NOT NULL,
    voucher_no character varying(255) NOT NULL,
    department_id bigint NOT NULL,
    requested_by_user_id bigint NOT NULL,
    approved_by_user_id bigint,
    released_by_user_id bigint,
    liquidation_approved_by_user_id bigint,
    type character varying(255) NOT NULL,
    purpose character varying(255) NOT NULL,
    description text,
    status character varying(255) DEFAULT 'draft'::character varying NOT NULL,
    requested_amount numeric(12,2) NOT NULL,
    approved_amount numeric(12,2),
    released_amount numeric(12,2),
    liquidated_amount numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    needed_by date,
    liquidation_due_date date,
    liquidation_notes text,
    rejection_reason text,
    admin_remarks text,
    approved_at timestamp(0) without time zone,
    released_at timestamp(0) without time zone,
    liquidation_submitted_at timestamp(0) without time zone,
    liquidation_approved_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT vouchers_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'pending_approval'::character varying, 'approved'::character varying, 'rejected'::character varying, 'released'::character varying, 'liquidation_submitted'::character varying, 'liquidated'::character varying])::text[]))),
    CONSTRAINT vouchers_type_check CHECK (((type)::text = ANY ((ARRAY['cash_advance'::character varying, 'reimbursement'::character varying])::text[])))
);


ALTER TABLE public.vouchers OWNER TO sail;

--
-- Name: vouchers_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.vouchers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vouchers_id_seq OWNER TO sail;

--
-- Name: vouchers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.vouchers_id_seq OWNED BY public.vouchers.id;


--
-- Name: approval_vouchers id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.approval_vouchers ALTER COLUMN id SET DEFAULT nextval('public.approval_vouchers_id_seq'::regclass);


--
-- Name: budgets id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.budgets ALTER COLUMN id SET DEFAULT nextval('public.budgets_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: transactions id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.transactions ALTER COLUMN id SET DEFAULT nextval('public.transactions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: voucher_attachments id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_attachments ALTER COLUMN id SET DEFAULT nextval('public.voucher_attachments_id_seq'::regclass);


--
-- Name: voucher_items id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_items ALTER COLUMN id SET DEFAULT nextval('public.voucher_items_id_seq'::regclass);


--
-- Name: voucher_logs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_logs ALTER COLUMN id SET DEFAULT nextval('public.voucher_logs_id_seq'::regclass);


--
-- Name: vouchers id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.vouchers ALTER COLUMN id SET DEFAULT nextval('public.vouchers_id_seq'::regclass);


--
-- Data for Name: approval_vouchers; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: budgets; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.budgets (id, user_id, category_id, month, year, amount_limit, created_at, updated_at, department_id, origin_approval_voucher_id, archived_at, archived_by_approval_voucher_id) FROM stdin;
2	3	9	3	2026	50000.00	2026-03-24 06:42:01	2026-03-24 06:42:01	2	4	\N	\N
1	3	5	3	2026	6000.00	2026-03-24 03:38:43	2026-03-24 06:42:43	2	\N	\N	\N
\.


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.cache (key, value, expiration) FROM stdin;
laravel-cache-c11ba789303057e1e62bc35f09517d12:timer	i:1774318028;	1774318028
laravel-cache-c11ba789303057e1e62bc35f09517d12	i:1;	1774318028
laravel-cache-9c0e775ee68be764e7863fc89366e557:timer	i:1774327421;	1774327421
laravel-cache-9c0e775ee68be764e7863fc89366e557	i:1;	1774327421
laravel-cache-092800d3e866e9746eba941662419db4:timer	i:1774335521;	1774335521
laravel-cache-092800d3e866e9746eba941662419db4	i:1;	1774335521
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.departments (id, name, description, created_at, updated_at) FROM stdin;
1	General	Default department for existing accounts.	2026-03-24 02:05:48	2026-03-24 02:05:48
2	it department	\N	2026-03-24 02:06:53	2026-03-24 02:06:53
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: voucher_attachments; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.voucher_attachments (id, voucher_id, uploaded_by_user_id, stage, disk, path, original_name, mime_type, size_bytes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: voucher_items; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.voucher_items (id, voucher_id, category_id, description, amount, expense_date, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: voucher_logs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.voucher_logs (id, voucher_id, user_id, action, from_status, to_status, description, metadata, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: vouchers; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.vouchers (id, voucher_no, department_id, requested_by_user_id, approved_by_user_id, released_by_user_id, liquidation_approved_by_user_id, type, purpose, description, status, requested_amount, approved_amount, released_amount, liquidated_amount, needed_by, liquidation_due_date, liquidation_notes, rejection_reason, admin_remarks, approved_at, released_at, liquidation_submitted_at, liquidation_approved_at, created_at, updated_at) FROM stdin;
\.


--
-- Name: approval_vouchers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.approval_vouchers_id_seq', 5, true);


--
-- Name: budgets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.budgets_id_seq', 2, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.categories_id_seq', 13, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.departments_id_seq', 2, true);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.migrations_id_seq', 17, true);


--
-- Name: transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.transactions_id_seq', 85, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: voucher_attachments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.voucher_attachments_id_seq', 1, false);


--
-- Name: voucher_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.voucher_items_id_seq', 1, false);


--
-- Name: voucher_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.voucher_logs_id_seq', 1, false);


--
-- Name: vouchers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.vouchers_id_seq', 1, false);


--
-- Name: approval_vouchers approval_vouchers_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.approval_vouchers
    ADD CONSTRAINT approval_vouchers_pkey PRIMARY KEY (id);


--
-- Name: approval_vouchers approval_vouchers_voucher_no_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.approval_vouchers
    ADD CONSTRAINT approval_vouchers_voucher_no_unique UNIQUE (voucher_no);


--
-- Name: budgets budgets_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.budgets
    ADD CONSTRAINT budgets_pkey PRIMARY KEY (id);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: categories categories_type_name_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_type_name_unique UNIQUE (type, name);


--
-- Name: departments departments_name_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_name_unique UNIQUE (name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: voucher_attachments voucher_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_attachments
    ADD CONSTRAINT voucher_attachments_pkey PRIMARY KEY (id);


--
-- Name: voucher_items voucher_items_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_items
    ADD CONSTRAINT voucher_items_pkey PRIMARY KEY (id);


--
-- Name: voucher_logs voucher_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_logs
    ADD CONSTRAINT voucher_logs_pkey PRIMARY KEY (id);


--
-- Name: vouchers vouchers_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_pkey PRIMARY KEY (id);


--
-- Name: vouchers vouchers_voucher_no_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_voucher_no_unique UNIQUE (voucher_no);


--
-- Name: approval_vouchers_department_id_status_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX approval_vouchers_department_id_status_index ON public.approval_vouchers USING btree (department_id, status);


--
-- Name: approval_vouchers_module_status_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX approval_vouchers_module_status_index ON public.approval_vouchers USING btree (module, status);


--
-- Name: approval_vouchers_module_target_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX approval_vouchers_module_target_id_index ON public.approval_vouchers USING btree (module, target_id);


--
-- Name: approval_vouchers_requested_by_status_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX approval_vouchers_requested_by_status_index ON public.approval_vouchers USING btree (requested_by, status);


--
-- Name: budgets_department_category_period_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX budgets_department_category_period_index ON public.budgets USING btree (department_id, category_id, year, month);


--
-- Name: budgets_department_id_archived_at_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX budgets_department_id_archived_at_index ON public.budgets USING btree (department_id, archived_at);


--
-- Name: budgets_department_id_year_month_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX budgets_department_id_year_month_index ON public.budgets USING btree (department_id, year, month);


--
-- Name: budgets_user_id_year_month_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX budgets_user_id_year_month_index ON public.budgets USING btree (user_id, year, month);


--
-- Name: cache_expiration_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX cache_expiration_index ON public.cache USING btree (expiration);


--
-- Name: cache_locks_expiration_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX cache_locks_expiration_index ON public.cache_locks USING btree (expiration);


--
-- Name: categories_type_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX categories_type_index ON public.categories USING btree (type);


--
-- Name: jobs_queue_reserved_at_available_at_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX jobs_queue_reserved_at_available_at_index ON public.jobs USING btree (queue, reserved_at, available_at);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: transactions_category_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX transactions_category_id_index ON public.transactions USING btree (category_id);


--
-- Name: transactions_department_id_transaction_date_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX transactions_department_id_transaction_date_index ON public.transactions USING btree (department_id, transaction_date);


--
-- Name: transactions_department_id_type_transaction_date_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX transactions_department_id_type_transaction_date_index ON public.transactions USING btree (department_id, type, transaction_date);


--
-- Name: transactions_department_id_voided_at_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX transactions_department_id_voided_at_index ON public.transactions USING btree (department_id, voided_at);


--
-- Name: transactions_user_id_transaction_date_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX transactions_user_id_transaction_date_index ON public.transactions USING btree (user_id, transaction_date);


--
-- Name: transactions_user_id_type_transaction_date_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX transactions_user_id_type_transaction_date_index ON public.transactions USING btree (user_id, type, transaction_date);


--
-- Name: transactions_voucher_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX transactions_voucher_id_index ON public.transactions USING btree (voucher_id);


--
-- Name: voucher_attachments_voucher_id_stage_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX voucher_attachments_voucher_id_stage_index ON public.voucher_attachments USING btree (voucher_id, stage);


--
-- Name: voucher_items_voucher_id_category_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX voucher_items_voucher_id_category_id_index ON public.voucher_items USING btree (voucher_id, category_id);


--
-- Name: voucher_logs_voucher_id_action_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX voucher_logs_voucher_id_action_index ON public.voucher_logs USING btree (voucher_id, action);


--
-- Name: vouchers_department_id_status_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX vouchers_department_id_status_index ON public.vouchers USING btree (department_id, status);


--
-- Name: vouchers_requested_by_user_id_status_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX vouchers_requested_by_user_id_status_index ON public.vouchers USING btree (requested_by_user_id, status);


--
-- Name: vouchers_type_status_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX vouchers_type_status_index ON public.vouchers USING btree (type, status);


--
-- Name: approval_vouchers approval_vouchers_approved_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.approval_vouchers
    ADD CONSTRAINT approval_vouchers_approved_by_foreign FOREIGN KEY (approved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: approval_vouchers approval_vouchers_department_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.approval_vouchers
    ADD CONSTRAINT approval_vouchers_department_id_foreign FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE RESTRICT;


--
-- Name: approval_vouchers approval_vouchers_requested_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.approval_vouchers
    ADD CONSTRAINT approval_vouchers_requested_by_foreign FOREIGN KEY (requested_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: budgets budgets_archived_by_approval_voucher_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.budgets
    ADD CONSTRAINT budgets_archived_by_approval_voucher_id_foreign FOREIGN KEY (archived_by_approval_voucher_id) REFERENCES public.approval_vouchers(id) ON DELETE SET NULL;


--
-- Name: budgets budgets_category_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.budgets
    ADD CONSTRAINT budgets_category_id_foreign FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE RESTRICT;


--
-- Name: budgets budgets_department_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.budgets
    ADD CONSTRAINT budgets_department_id_foreign FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE RESTRICT;


--
-- Name: budgets budgets_origin_approval_voucher_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.budgets
    ADD CONSTRAINT budgets_origin_approval_voucher_id_foreign FOREIGN KEY (origin_approval_voucher_id) REFERENCES public.approval_vouchers(id) ON DELETE SET NULL;


--
-- Name: budgets budgets_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.budgets
    ADD CONSTRAINT budgets_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: transactions transactions_category_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_category_id_foreign FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE RESTRICT;


--
-- Name: transactions transactions_department_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_department_id_foreign FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE RESTRICT;


--
-- Name: transactions transactions_origin_approval_voucher_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_origin_approval_voucher_id_foreign FOREIGN KEY (origin_approval_voucher_id) REFERENCES public.approval_vouchers(id) ON DELETE SET NULL;


--
-- Name: transactions transactions_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: transactions transactions_voided_by_approval_voucher_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_voided_by_approval_voucher_id_foreign FOREIGN KEY (voided_by_approval_voucher_id) REFERENCES public.approval_vouchers(id) ON DELETE SET NULL;


--
-- Name: transactions transactions_voucher_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_voucher_id_foreign FOREIGN KEY (voucher_id) REFERENCES public.vouchers(id) ON DELETE SET NULL;


--
-- Name: users users_department_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_department_id_foreign FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE RESTRICT;


--
-- Name: voucher_attachments voucher_attachments_uploaded_by_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_attachments
    ADD CONSTRAINT voucher_attachments_uploaded_by_user_id_foreign FOREIGN KEY (uploaded_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: voucher_attachments voucher_attachments_voucher_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_attachments
    ADD CONSTRAINT voucher_attachments_voucher_id_foreign FOREIGN KEY (voucher_id) REFERENCES public.vouchers(id) ON DELETE CASCADE;


--
-- Name: voucher_items voucher_items_category_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_items
    ADD CONSTRAINT voucher_items_category_id_foreign FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE RESTRICT;


--
-- Name: voucher_items voucher_items_voucher_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_items
    ADD CONSTRAINT voucher_items_voucher_id_foreign FOREIGN KEY (voucher_id) REFERENCES public.vouchers(id) ON DELETE CASCADE;


--
-- Name: voucher_logs voucher_logs_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_logs
    ADD CONSTRAINT voucher_logs_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: voucher_logs voucher_logs_voucher_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.voucher_logs
    ADD CONSTRAINT voucher_logs_voucher_id_foreign FOREIGN KEY (voucher_id) REFERENCES public.vouchers(id) ON DELETE CASCADE;


--
-- Name: vouchers vouchers_approved_by_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_approved_by_user_id_foreign FOREIGN KEY (approved_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: vouchers vouchers_department_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_department_id_foreign FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE RESTRICT;


--
-- Name: vouchers vouchers_liquidation_approved_by_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_liquidation_approved_by_user_id_foreign FOREIGN KEY (liquidation_approved_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: vouchers vouchers_released_by_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_released_by_user_id_foreign FOREIGN KEY (released_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: vouchers vouchers_requested_by_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_requested_by_user_id_foreign FOREIGN KEY (requested_by_user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict QoUY4Uk1zp1euOdRXI4eWc7FUivsEQey8DLRtgG3edj5erGIVee2YEkLtYRw5Xv

